// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: ($base-line-height / 2) auto;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: ($base-line-height / 2);
  height: auto;
}
@media (min-width: $breakpoint-mobile-large) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: ($base-line-height / 2);
  }
  .alignright {
    float: right;
    margin-left: ($base-line-height / 2);
  }
}

// Captions
.wp-caption {
 // @extend .thumbnail;
}
.wp-caption-text {
  padding: $thumbnail-caption-padding;
}

// Text meant only for screen readers
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

