/** 
 * ===================================================================
 * header styles - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */

header.banner {	
   height: 60px;
   width: 100%;
   position: absolute;
   left: 0;
   top: 20px; 
   z-index: $zindex-2;  

   .row { 
   	position: relative;    	
   }

   /** 
    * header logo 
    * -
    * add position relative since z-index only applies to  
	 * elements that have been given an explicit position 
	 */

   .logo {
   	float: left;
	   width: auto; 
	   margin-top: 15px;
	   margin-left: 10px;
	   margin-right: 35px;	   
	   z-index: $zindex-3;  		
	   position: relative; 

	   a {
	   	display: block;
		  	margin: 0;
		  	padding: 0;
		  	border: none;
		  	@include ss-image-replacement();

		  	width: 130px;
		  	height: 22px;
		  	background-repeat: no-repeat;
			 	background-position: center center;
		  	background-size: 130px 22px;		  	
	   }
	}

	#header-search {
	   @include ss-coverer;
	  	background: $color-white;
	  	z-index: $zindex-4;
	  	visibility: hidden;
	  	opacity: 0;

	   -webkit-transition: opacity .3s 0s, visibility 0s .3s;
	   -moz-transition: opacity .3s 0s, visibility 0s .3s;
	   transition: opacity .3s 0s, visibility 0s .3s;

	   &.is-visible {
		  	visibility: visible;
		  	opacity: 1;

		   -webkit-transition: opacity .3s 0s, visibility 0s 0s;
		   -moz-transition: opacity .3s 0s, visibility 0s 0s;
		   transition: opacity .3s 0s, visibility 0s 0s;
		}

	   form {
	   	margin: 10rem auto 0;
	   	max-width: $max-width;
	   	width: 85%;

	   	input {
	   		color: #555555;
	   		font-family: $font-1, sans-serif;
				font-size: 3rem;
   			line-height: 3rem;
   			height: 8rem;
   			padding: 1.5rem 2rem;
   			max-width: 100%;
   			width: 100%;
   			border: none;
   			border-radius: 0;
   			border-bottom: 1px solid #dedede;

   			&:focus {
   				background: $color-white;
   			}
	   	}

	   	// placeholder
	   	::-webkit-input-placeholder {
		   	color: #999;
			}
			:-moz-placeholder { /* Firefox 18- */
			   color: #999;  
			}
			::-moz-placeholder {  /* Firefox 19+ */
			   color: #999;  
			}
			:-ms-input-placeholder {  
			   color: #999;  
			}
			.placeholder {
				color: #999 !important;
			}
	   }

	   .close-btn {
		   position: fixed;
		   display: block;
		   width: 45px;
		   height: 45px;
		   top: 20px;
		   right: 5%;
		   
		   // image replacement 
		   @include ss-hide-text;
		}
		.close-btn::before, 
		.close-btn::after {
		   content: '';
		   position: absolute;
		   display: inline-block;
		   width: 2px;
		   height: 20px;
		   top: 12px;
		   left: 22px;
		   background-color: #39393c;
		}
		.close-btn::before {
			@include ss-transform(rotate(45deg));	
		}
		.close-btn::after {
			@include ss-transform(rotate(-45deg));		
		}

	}	
}

/**
 * responsive :
 * ------------
 * header section
 * -
 */

@include ss-mq(small) {

	header .logo {	margin-left: 0; }

	article header {
		background-color: transparent;
	}

}
@include ss-mq(tablet) {

	article header {
		background-color: transparent;
	}

	header {
		top: 0;
		height: 60px;
		background: #111111;

		.logo { 
			top: 2px; 

			a {
				width: 119px;
			  	height: 20px;			  
			  	background-size: 119px 20px;	
			}
		}

		#header-search form input {
			font-size: 2.2rem;
		}

	}
}
@include ss-mq(mobile) {

	header .logo {	margin-left: 5px;	}
	header #header-search form input {
		font-size: 1.8rem;
	}
}
@include ss-mq(mobile-small) {

	header .logo {	margin-left: 0; }
}


/**
 * primary navigation (_layout.scss)
 * -------------------------------------------------------------------
 */

#nav-wrap, #nav-contents, #nav-wrap ul {
	 margin: 0;
	 padding: 0;	
}

/* nav-wrap */
#nav-wrap {
   font-family: $font-1-bold, sans-serif;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   float: left;   

   // hide toggle and mobile-search-trigger button 
   > a,
   .mobile-search-trigger { 
   	display: none; 
   }
}

ul#nav {
   min-height: 60px;   
   display: inline-block;
   width: auto;

   // left align the menu 
   text-align: left;   

   li {
	   position: relative;	      
	   display: inline-block;	
	   list-style: none;	   
	   min-height: 60px;	
	   margin: 0;
	   padding: 0;  
	}

	li.current > a { 	
		color: $color-white; 

		&::after {
		   position: absolute;
		   left: 50%;
		   bottom: 0;
		   width: 40px;
		   height: 3px;
		   margin-left: -21px;
		   background-color: #58595a;
		   content: '\0020';
		   display: block;
		    
		   @include ss-transition(all, .3s);
		}

	}
}

/* nav right-menu */
.nav-right-menu {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	font-size: 16px;
	min-height: 60px; 
	line-height: 60px;	   
   width: auto;

   .header-search, 
   .header-social, 
   .header-btn {
		display: inline-block;			
	}

	.header-social {		
		margin-left: 5px;
	   padding-left: 10px;
	   border-left: 1px solid rgba(150, 150, 150, .1); 

	   span {
	   	display: inline-block;
	   	margin-right: 2px;
	   }	
	  
	}

	.header-btn a {
		font-size: 11px;		
		background: #32343a;
		letter-spacing: 1px;
		border-radius: 5px;
		line-height: 35px;
		padding: 0 15px;

		position: relative;
		top: -2.5px;

		&:hover {
			background: $color-white;
			color: #32343a !important;			
		}
	}

}

/* navigation links */
ul#nav li a,
.nav-right-menu a {

	// 15px padding top + 15px padding bottom + 30px line-height = 60px */
	display: block;
	padding: 15px 6px;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
	color: #98999a;
	position: relative;
	@include ss-transition(color, .3s);
	
	&:active { background-color: transparent !important; }		
}
ul#nav li a:hover, { color: $color-white; }
.nav-right-menu a,
.nav-right-menu a:visited {
	color: $color-white;
}
.nav-right-menu a:hover,
.nav-right-menu a:focus {
	color: $color-1;
}

/* sub menu */
ul#nav  {

	ul {
		position: absolute;
		top: 60px;
		left: 0;
		display: none;
		background: #262626;
		border-radius: 0 0 3px 3px;
		font-size: 11px;		
		

		ul { border-radius: 0 3px 3px 3px; }
	}

	ul li {
	   padding: 0;
	   display: block;
	   text-align: left;		
		width: auto; 
		border-bottom: 1px solid rgba(#fff, .05);
		min-height: 52px; 

		&:last-child {
			 border: none;
		}
	}
	
	// sub menu links
	ul li a {
		white-space: nowrap;
		padding: 20px 25px;
		line-height: 12px;
		color: rgba(#fff, .5);

		&:hover {
	   	background: transparent;
	   	color: $color-white;
	   } 
	}

	//3rd level menu
	ul ul {
		position: absolute;
		top: 0;
		left: 100%;	
		left: calc(100% + 1px);	
	}

}

/* on hover */
ul#nav {
	
	li:hover > ul,
	li.sfHover > ul {
	   display: block; 
	}

}



/**
 * responsive:
 * -----------
 * primary navigation
 * 
 */

@include ss-mq(small) {

	.nav-right-menu .header-social {
		display: none;
	}
}
@include ss-custom-mq(830px) {

	.nav-right-menu .header-btn {
		display: none;
	}
}


/**
 * mobile view: primary navigation
 * 
 */

@include ss-mq(tablet) {

	#nav-wrap {
		// z-index: $zindex-3;
		display: block;
		width: 100%;		
		float: none;
		position: absolute;
		top: 0;
		right: 0;
	}

 	// mobile-buttons 
	#nav-wrap > a.mobile-btn,
	#nav-wrap > a#toggle-btn {
		border: none;
		color: $color-white;
		height: 40px;
		min-width: 40px;
		font-size: 12px;
		text-align: left;
		float: right;
		display: block;
		padding: 0;

		position: relative;
		top: 10px;
		right: 30px;

		&:hover {
			.menu-icon {
				background: $color-white;
			}
		}
	}

	// mobile search trigger button 
	#nav-wrap .mobile-search-trigger {
		
		position: absolute;
		top: 9px;
		right: 75px;		

		a {
			display: block;
			height: 40px;
			line-height: 40px;
			width: 40px;
			overflow: hidden;
			color: $color-white;
			text-align: center;		
			font-size: 22px;			
		}
	}

	#nav-wrap .menu-icon {
		display: inline-block;
		width: 24px;
		height: 3px;
		margin-top: -3px;
		position: absolute;
		right: 8px;
		top: 50%;
		bottom: auto;
		left: auto;
		background: $color-white;

		@include ss-transition(all, .3s);
		@include ss-hide-text();
	}
	#nav-wrap .menu-icon::before, 
	#nav-wrap .menu-icon::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: inherit;
		left: 0;
	}
	#nav-wrap .menu-icon::before {
		bottom: 8px;
	}
	#nav-wrap .menu-icon::after {
		top: 8px;
	}

	// top level - dropdown nav 
	#nav-contents {
		background: #111111;
		padding: 55px 45px 60px 45px;
		margin: 0;			
		width: 100%;
		height: auto;
		clear: both;
		float: none;
		display: none;

		position: absolute;
		top: 60px;
		right: 0;
	}
	#nav-contents ul {
		background: #111111 !important;
		width: 100%;
	}

	ul#nav > li {
		display: block;
		float: none;
		height: auto;
		text-align: left;
		border-bottom: 1px dotted rgba(200, 200, 200, .1);
		padding: 0;
		min-height: 60px;
	}
	ul#nav > li:first-child {
		border-top: 1px dotted rgba(200, 200, 200, .1);
	}
	ul#nav li a {
		display: block;
		width: auto;
		padding: 0;
		color: lighten($color-text, 45%);
		padding: 18px 0;
		line-height: 24px;
		border: none;
	}
	ul#nav li a:hover {
		color: $color-2;
	}
	ul#nav li.current > a {
		background: none;
		color: $color-2;

		// remove line at the bottom
		&:after { display: none; }
	}

	// sub menu
	ul#nav {

		li.has-children > a:after {
			content: "\f067";
			display: inline;
			padding-left: 10px;
			color: $color-2;
			font-family: "fontAwesome";
			font-size: 12px;
			position: absolute;
			left: auto;
			right: 15px;
			top: 50%;	
			height: 20px;
			width: 20px;
			line-height: 20px;		
			margin-top: -10px;
			background: none;		
			@include ss-transition(all, .2s);

		}

		// on hover 
		li.has-children:hover > a:after { 
			content: "\f068";
		}

	}

	ul#nav .has-children {

		ul {
			position: static;	
			margin-top: -6px;	
			margin-bottom: 18px;	

			ul { margin-bottom: 0; }
		}
		li { 
			height: auto;	
			border: none;	
			padding-left: 12px;
			min-height: 48px;
			font-family: $font-1, sans-serif;	

			a { padding: 18px 25px 18px 0;	}		
		}

	}

	//right menu;
	.nav-right-menu {
		position: static;	
		border: none !important;
		margin-top: 2rem;	
		text-align: center;
		width: 100%;

		.header-search {
			display: none;
		}

		.header-social {
			display: block;
			margin-left: 0;
			padding-left: 0;
			border: none;

			a {
				display: inline-block;
				margin: 0 2px;
			}
		}

		.header-btn {
			display: block;
			margin-top: 1.5rem;

			a {
				text-align: center;
				line-height: 60px;
				display: block;							
			}		

		}		
	}

	#nav-wrap a.mobile-btn {
		display: none;
	}
	.js #nav-wrap a#toggle-btn,
	.js #nav-wrap .mobile-search-trigger {
		display: block;
	}

	/* if js is disabled */
	.no-js #nav-wrap:not(:target) > a:first-of-type, 
	.no-js #nav-wrap:target > a:last-of-type {
		display: block;
	}
	.no-js #nav-wrap:target #nav-contents {
		display: block;		
	}

}

@include ss-mq(mobile) {

	#nav-wrap > a.mobile-btn,
	#nav-wrap > a#toggle-btn {
		right: 20px;	
	}

	#nav-wrap .mobile-search-trigger {
		right: 65px;
	}

}

/**
 * make sure the menu is visible on larger screens
 * -
 */

@media only screen and (min-width:769px) {
	#nav-wrap #nav-contents,
	#nav-wrap .right-menu {
		display: block !important;
	}
}
