
/** 
 * ===================================================================
 * blog listing page - (_blog.scss)
 *
 * ------------------------------------------------------------------- 
 */
 

/**
 * blog entry (_blog.scss)
 * ------------------------------------------------------------------- 
 */

.post-thumb, .post-slider, .fluid-video-wrapper {
	margin: 3rem 0 3rem;
	margin-right: 10px;		
}
.post-thumb img {
	vertical-align: bottom;
}
.entry-content-media {
	margin: 2.5rem 0 3rem;

	> * {
		margin-top: 0;
		margin-bottom: 0;				
	}
}

blockquote p a strong {
	font-family: $font-1-black, sans-serif;
	text-transform: uppercase;
	letter-spacing: .15rem;
	font-size: 1.35rem;	
	line-height: inherit;
	display: inline-block;
	border-bottom: 3px solid #d1d1d1;
	margin-left: 10px;
}

.entry .more-link {
	background: #d8d8d8;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .3rem;
	margin: 0;
	padding: 0 25px;

	&:hover {
		background: darken(#d8d8d8, 5%);
	}	
}

.post-thumb a {
	position: relative;
	display: block;
	overflow: hidden;

	&::after {
		content: "";
		display: block;
		position: absolute;
  		top: 0;
  		left: 0;
  		width: 100%;
  		height: 100%;
  		background-color: rgba(0, 0, 0, .4);
  		opacity: 0;
  		@include ss-transition(all, .3s);  		
	}
	
	img {
		vertical-align: middle;
		@include ss-transition(all, .3s);
	}

}

.post-thumb a:hover {

	&::before, &::after {
		opacity: 1;
	}
	img {
		@include ss-transform(scale(1.10));	
	}

}


/**
 * post format gallery (_blog.scss)
 * ------------------------------------------------------------------- 
 */

.format-gallery {

	.post-slider {
		position: relative;
		cursor: pointer;
	}

	.flex-control-paging {
    	position: absolute;
   	bottom: 2rem;    
   	right: 2rem;
   	margin-left: 0;
   	z-index: $zindex-1;
	}

	.flex-control-paging li {
		float: left;
		cursor: pointer;
		margin: 0 3px;
	   @include ss-hide-text;
	}
	     
	.flex-control-paging li a {
	   background-color: #FFF;
	   border-radius: 50%;
	   display: block;
	   height: 10px;	     
	   width: 10px;
	   opacity: .6;
	   box-shadow: 0 1 3px rgba(0, 0, 0, .5);
	}

	.flex-control-paging li a:hover,                  
	.flex-control-paging li a.flex-active {
		opacity: 1;		
	}

}


/**
 * entry meta (_blog.scss)
 * ------------------------------------------------------------------- 
 */

.entry-meta {
	font-size: 1.5rem;
	line-height: 2.8rem;
	margin: -6px 0 0 0;
	color: $color-text-light;

	li {
		display: inline-block;
		margin: 0 15px 0 0;	
		padding: 0;	

		&::before {
			content: "";
			font-family: fontAwesome;
			margin-right: 6px;
			display: inline;
			font-size: 1.4rem;
			color: lighten($color-text-xlight, 10%);
		}
		&.date::before {
			content: "\f017";
		}
		&.auth::before {
			content: "\f007";
		}
		&.cat::before {
			content: "\f07c";
		}
	}
}

.iw-single .entry-meta {
	margin-bottom: 2.4rem;
} 


/**
 * tags (_blog.scss)
 * ------------------------------------------------------------------- 
 */

.tags {

	span { margin-right: 6px; }

	a { font-family: $font-1-bold, sans-serif; }

	&::before {
		content: "\f02c";
		font-family: fontAwesome;
		margin-right: 5px;
		display: inline;
		font-size: 1.5rem;
	}
}

/**
 * author profile (_blog.scss)
 * ------------------------------------------------------------------- 
 */

.author-profile {
	border-top: 1px solid #ddd;
	padding-top: 3rem;
	padding-bottom: 2rem;

	img {
		float: left;
		width: 70px;
		height: 70px;
		border-radius: 50%;
	}

	.about {
		margin: 0 0 0 100px;

		h5 { margin-bottom: 1.5rem; }

	}

	.author-social {

		margin: -1.5rem 0 3rem 0;

		li {
			list-style: none;
			display: inline-block;			
			text-align: center;			
			font-size: 1.8rem;
			padding: 0;
			vertical-align: bottom;
			border-right: 1px solid #cecece;
			line-height: 1rem;
			padding-right: 10px;
			margin-right: 8px;

			&:last-child {
				border-right: none;
			}


		}
	}

}


/**
 * related articles (_blog.scss)
 * ------------------------------------------------------------------- 
 */

.ras {
	border-top: 1px solid #ddd;
	padding-top: 3rem;
	padding-bottom: 2rem;

	.ras-wrap {
		margin-left: ($gutter/2 * -1); 
		margin-right: ($gutter/2 * -1);

		@include ss-mq(small) {
			margin-left: ($gutter-small/2 * -1); 
			margin-right: ($gutter-small/2 * -1);
		}
		@include ss-mq(tablet) {
			margin-left: ($gutter-tablet/2 * -1); 
			margin-right: ($gutter-tablet/2 * -1);
		}
		@include ss-mq(mobile) {
			margin-left: ($gutter-mobile/2 * -1); 
			margin-right: ($gutter-mobile/2 * -1);
		}
		@include ss-mq(mobile-small) {
			margin-left: 0; 
			margin-right: 0;
		}
	}

	img { margin-bottom: .5rem }

	p {
		font-family: $font-1-semibold, sans-serif;
		font-size: 1.45rem;
		line-height: 2.4rem;
	}

}



/**
 * responsive: 
 * -----------
 * blog entry
 *
 */

@include ss-mq(tablet) {

	.entry-title {
		text-align: center;
	}

	.entry-content p{
	margin-top: 30px;
	}

	.entry-content-media, .post-thumb,
	.post-slider, .fluid-video-wrapper {
		margin-right: 0;
	}

	.entry-meta {
		text-align: center;
	}

	.author-profile {
		text-align: center;


		img { float: none; }

		.about {
			margin: 0;
		}
	}

}

	@include ss-mq(mobile) {

		.entry-content p {
		margin-top: 40px;
		}
	}

@include ss-mq(mobile-small) {

	.ras {
		text-align: center;
	}

	.entry-content p {
	margin-top: 40px;
	}
	
}


/**
 * comments (_blog.scss)
 * ------------------------------------------------------------------- 
 */

#comments {
   padding-top: 3.3rem;
   padding-bottom: 1.5rem;

   h3 {
	   @include ss-mq(tablet) {
	   	text-align: center;      	
	   }
	}
}

// Comments List 
.commentlist {
   border-top: 1px dotted #dedede;
	margin: 3rem 0 5.5rem 0;
	padding: 0;

	@include ss-mq(mobile) {
	   width: 100%;
      margin-left: 0;
	} 

	> li {
	   position: relative;
		list-style: none;
		margin: 0;	
		border-bottom: 1px dotted #dedede;
		padding: 1.8rem 0 1.8rem 0;	
		padding-left: 14%;

		@include ss-mq(mobile) {
		   padding-left: 0;
		}
	}

	li {
		.avatar {
		   position: absolute;
		   left: 0px;
		   display: block;
		   height: 48px;
		   width: 48px;

		   @include ss-mq(mobile) {
			   display: none;
			}

		   img {
			   margin-top: 6px;
			   height: 48px;
			   width: 48px;
			  	border-radius: 100%;
			}
		}
		
		.comment-info cite {
		   font-family: $font-1-black, sans-serif;
		   font-style: normal;
		   font-size: 1.4rem;
		   line-height: 3rem;
		   color: #252525;
		}
		.comment-info .comment-meta {
		   font-size: 1.3rem;
		   line-height: 2/4rem;
		   display: block;
		   color: $color-text-light;

			.reply {
			   font-family: $font-1-bold, sans-serif;
			}
			.sep {
			   margin: 0 5px;
			   color: $color-text-xlight;
			}

		}
		
		.comment-text {
			clear: both;
			margin: 2rem 0 0 0;
		   padding: 0;		   
		}

		// children */
		ul.children {
		   margin: 0;
		   padding: 18px 0 0 0;
		   list-style: none;

		   li {
			   padding-left:  6% ;
			   padding-top: 2rem;
			   border-top: 1px dotted #dedede;
			}
		}
	}

}

/* comment form */
#comments form { 
	margin-top: 3.5rem; 

	fieldset { padding: 0; }
 	input,
	textarea,
	select {
		width: 100%;
	   
	}
	input[type=submit] {
		padding-left: 3rem;
   	padding-right: 3rem;
		width: auto;
	}	

}

 /**
 * responsive:
 * ------------ 
 * comments
 *
 */

@include ss-mq(tablet) {

 	#comments form {

	 	button {
	 		width: 100%;
	 	}
	}
}



