// -------------------------------------------------------------------
//
// CONTACT STYLES
//
// -------------------------------------------------------------------


/** 
 * ===================================================================
 * contact - (_contact.scss)
 *
 * ------------------------------------------------------------------- 
 */


/**
 * contact map (_contact.scss)
 * ------------------------------------------------------------------- 
 */ 

#map-wrap {
   background: rgba(0, 0, 0, 1);
   z-index: 999993; 
   height: 420px;

   .gm-style img { max-width: none; }
   .gm-style label { width: auto; display: inline; }
   
   #map_canvas {
   	height: 100%;
   	width: 100%;
   	background: white;  
   	position: relative;
   }   

   #map-zoom-in, #map-zoom-out {
		height: 32px;
		width: 32px;
		cursor: pointer;
		margin-right: 40px;
		color: white;	
		background-color: rgba(0, 0, 0, 1);

		@include ss-mq(mobile) {
			margin-right: 35px;
		}
		@include ss-mq(mobile-small) {
			margin-right: 25px;
		}
	}
	#map-zoom-in {
		margin-bottom: 2px;
		margin-top: 30px;
	}
	#map-zoom-in::before,
	#map-zoom-out::before {
		display: block;
		color: white;
		text-align: center;
		font-family: 'FontAwesome';
		font-size: 14px;
		content: "\f067";		
		height: 32px;
		width: 32px;
		line-height: 32px;
		@include ss-transition(color, .3s, ease-in-out)
	}
	#map-zoom-in::before { content: "\f067"; }
	#map-zoom-out::before {	content: "\f068";	}

	#map-zoom-in:hover::before, 
	#map-zoom-out:hover::before {
		color: $color-1;
	}

}

/**
 * contact form (_contact.scss)
 * ------------------------------------------------------------------- 
 */ 

.contact form {
	margin-top: 3.5rem; 

	fieldset { padding: 0; }
 	input,
	textarea,
	select {
		width: 95%;	   
	}
	input[type=submit]{
		width: auto;
	}

}


/**
 * responsive:
 * -----------
 * contact
 *
 */

@include ss-mq(tablet) {

	.contact {

		h1, .lead, .contact-info {
			text-align: center;
		}

		form {
			input,
			textarea,
			select,
			button {
				width: 100%;	   
			}
		}

	}
}
